<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lepu.serial" >
    <uses-permission android:name="android.permission.SERIAL_PORT"
        tools:ignore="ProtectedPermissions" />
    <application>
        <service
            android:name=".service.SerialService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>